<!DOCTYPE html>



<html>


    <head lang="en" data-framework="angularjs">

        <link rel ="stylesheet" type ="text/css" href="css/angular.css" />
        <link rel ="stylesheet" type ="text/css" href="css/angular2.css" />
        <script src = "js/vendor/angular.min.js"></script> 
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src = "js/CheckBalances.js"></script>

            </head>

    <body>

        <form ng-app ng-controller="APICallController">


            <h1>Current Balance</h1>
            <ul>

                <li ng-repeat="balance in Balances" ng-click="toggleActive(balance)">
			<!-- display points balances for this particular user -->
			{{balance.ClientId}} <span>{{balance.PointBalance}}</span>
		</li>
               

            </ul>

                    </form>


    </body>
</html>